<BottomNavigation class="navbar" (selectedIndexChanged)="change($event)" #nav>
    <TabStrip class="navbar">
        <TabStripItem class="navigation__item">
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas t-36 size-icon"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Dashboard"></Label>
            <Image src="font://&#xf3fd;" class="fas t-36 size-icon"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Search"></Label>
            <Image src="font://&#xf013;" class="fas t-36 size-icon"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <Home></Home>
    </TabContentItem>

    <TabContentItem>
        <Edit></Edit>
    </TabContentItem>

    <TabContentItem>
        <Settings></Settings>
    </TabContentItem>
</BottomNavigation>
