<ScrollView *ngIf="true" orientation="vertical">
    <EditUser></EditUser>
</ScrollView>
<ScrollView *ngIf="false" orientation="vertical">
    <!-- Instructor -->
    <FlexboxLayout *ngIf="editMode==false" width="100%" flexDirection="column" alignItems="flex-start">
        <FlexboxLayout class="search" alignItems="flex-start" flexDirection="row">
            <Image src="font://&#xf067;" class="fas t-36 icon" (tap)="add()" ></Image>
            <TextField [(ngModel)]="nameInput" borderWidth="0" class="input" hint="Add user" ></TextField>
        </FlexboxLayout>
        <FlexboxLayout class="option-enc" *ngFor="let user of users">
            <FlexboxLayout class="option" (swipe)="onSwipe($event)" tap="show()" flexDirection="row">
                <Label class="option-txt" text="{{ user.name }}" ></Label>
            </FlexboxLayout>
        </FlexboxLayout>
    </FlexboxLayout>
    <FlexboxLayout *ngIf="editMode" width="100%" flexDirection="column" alignItems="flex-start">
        <FlexboxLayout flexDirection="row" flexWrap="wrap" width="100%" alignItems="center" justifyContent="center">
            <FlexboxLayout (tap)="select('course')" class="choose choose-1">
                <Label text="Course"></Label>
                <Label text="200" class="number"></Label>
            </FlexboxLayout>
            <FlexboxLayout (tap)="select('search')" class="choose">
                <Label text="Searches"></Label>
                <Label text="200" class="number"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" *ngIf="editName == 'course'">
            <FlexboxLayout class="add" alignItems="flex-start" flexDirection="row">
                <Image src="font://&#xf067;" class="fas t-36 icon" (tap)="addToCourse()" ></Image>
                <TextField [(ngModel)]="nameInput" borderWidth="0" class="input" hint="Add to course" ></TextField>
            </FlexboxLayout>
            <FlexboxLayout class="option-enc" *ngFor="let search of searches">
                <FlexboxLayout class="option" flexDirection="row">
                    <Label class="option-txt" text="{{ search }}" ></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" *ngIf="editName == 'search'">
            <FlexboxLayout flexDirection="column" class="option-enc" *ngFor="let search of searches">
                <FlexboxLayout class="option" flexDirection="column">
                    <Label class="option-txt" text="{{ search }}" ></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </FlexboxLayout>
    </FlexboxLayout>
</ScrollView>