<FlexboxLayout class="color" width="100%" height="100% " flexDirection="column">
    <FlexboxLayout width="100%" height="40%" justifyContent="center" class="main-enc" flexDirection="column">
        <Label text="Welcome back, Vatsal" class="intro-text"></Label>
        <Label text="70 searches" class="searches-num"></Label>
        <Label text="in the last 7 days" class="searches"></Label>
    </FlexboxLayout>
    <FlexboxLayout width="100%" height="65%" class="about-enc">
        <FlexboxLayout class="option">
            <FlexboxLayout flexDirection="row" alignItems="flex-start">
                <Image src="font://&#xf0c0;" class="fas t-36 icon"></Image>
                <StackLayout>
                    <Label class="number" text="10"></Label>
                    <Label class="info" text="Students"></Label>    
                </StackLayout>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout class="option">
            <FlexboxLayout flexDirection="row" alignItems="flex-start">
                <Image src="font://&#xf002;" class="fas t-36 icon"></Image>
                <StackLayout class="set-max">
                    <Label class="number" text="80"></Label>
                    <Label class="info green" text="In total "></Label>    
                </StackLayout>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout class="option">
            <FlexboxLayout flexDirection="row" alignItems="flex-start">
                <Image src="font://&#xf077;" class="fas t-36 icon"></Image>
                <StackLayout>
                    <Label class="number" text="30"></Label>
                    <Label class="info green" text="by Vatsal"></Label>    
                </StackLayout>
            </FlexboxLayout>
        </FlexboxLayout>
            <FlexboxLayout class="option">
                <FlexboxLayout flexDirection="row" alignItems="flex-start">
                    <Image src="font://&#xf078;" class="fas t-36 icon"></Image>
                    <StackLayout>
                        <Label class="number" text="0"></Label>
                        <Label class="info red" text="by Vatsal"></Label>    
                    </StackLayout>
                </FlexboxLayout>
    </FlexboxLayout>
</FlexboxLayout>