<ScrollView orientation="vertical">
<FlexboxLayout width="100%" flexDirection="column" alignItems="flex-start">
    <FlexboxLayout class="option" flexDirection="row" marginTop="20">
        <Image src="font://&#xf234;" class="fas t-36 icon" ></Image>
        <Label class="option-txt" text="Invite a friend" ></Label>
    </FlexboxLayout>
    <FlexboxLayout class="option" flexDirection="row">
        <Image src="font://&#xf002;" class="fas t-36 icon" ></Image>
        <Label class="option-txt" text="Notifications" ></Label>
    </FlexboxLayout>
    <FlexboxLayout class="option" flexDirection="row">
        <Image src="font://&#xf059;" class="fas t-36 icon" ></Image>
        <Label class="option-txt" text="Help" ></Label>
    </FlexboxLayout>
    <FlexboxLayout class="option" flexDirection="row">
        <Image src="font://&#xf129;" class="fas t-36 icon" ></Image>
        <Label class="option-txt" text="About" ></Label>
    </FlexboxLayout>
    <FlexboxLayout class="option" flexDirection="row">
        <Image src="font://&#xf2f5;" class="fas t-36 icon" ></Image>
        <Label class="option-txt" text="Log out" ></Label>
    </FlexboxLayout>
</FlexboxLayout>
</ScrollView>