<Page xmlns="http://schemas.nativescript.org/tns.xsd" actionBarHidden="true">
  <FlexboxLayout *ngIf="!selected" width="100%" justifyContent="space-between" height="100%" flexDirection="column">
    <FlexboxLayout width="100%" flexDirection="column" class="inner">
      <Image src="res://landing" class="image" ></Image>
      <Label text="Improve the way you learn" class="entry-text-header" textWrap="true" textAlignment="center" lineHeight="5"></Label>
      <Label text="We aim to help your students learn their way" class="entry-text" textWrap="true" textAlignment="center" lineHeight="5"></Label>
    </FlexboxLayout>
    <DockLayout>
      <StackLayout Dock="bottom">
        <Button text="Login as a user" (onTap)="set('user')" class="button-1"></Button>
        <Button text="Login as an course instructor"(onTap)="set('instructor')" class="button-2"></Button>
      </StackLayout>
    </DockLayout>
  </FlexboxLayout>
</Page>