<FlexboxLayout width="100%" alignItems="center" justifyContent="center" height="100%" flexDirection="column" *ngIf="general">
  <FlexboxLayout class="details-enc" width="80%" flexDirection="column">
    <Image src="res://logo" Dock="top" class="image"></Image>
    <TextField [ngClass]="{'hide': !signup}" hint="Your name" ></TextField>
    <TextField hint="you@example.com" ></TextField>
    <TextField secure="true" hint="Password" ></TextField>
    <Button [nsRouterLink]="['dashboard']" text="{{ signupText }}" class="signup-btn" textAlignment="center" lineHeight="5"></Button>
  </FlexboxLayout>
  <DockLayout>
    <Label (onTap)="change()" *ngIf="signup" class="change-text" text="Already have an account? Log in" Dock="bottom"></Label>
    <Label (onTap)="change()" *ngIf="!signup" class="change-text" text="Do not have an account? Sign up" Dock="bottom"></Label>
  </DockLayout>
</FlexboxLayout>
<FlexboxLayout *ngIf="!general" width="100%" justifyContent="space-between" height="100%" flexDirection="column">
  <DockLayout class="text-enc">
    <Label text="Vatsal, is that you?" Dock="top" textAlignment="center" class="intro-text"></Label>
  </DockLayout>
  <FlexboxLayout alignItems="center" flexDirection="column" class="details">
    <!-- <Image src="res://logo2" class="icon" ></Image> -->
    <FlexboxLayout alignItems="center" width="20%">
      <Label textWrap="true" textAlignment="center" class="icon-alt" text="VK"></Label>
    </FlexboxLayout>
    <Label text="Vatsal Kandoi" class="name-text" textWrap="true" textAlignment="center"></Label>
    <Label text="vatsalkandoi1998@gmail.com" class="email-text" textWrap="true" textAlignment="center"></Label>
  </FlexboxLayout>
  <StackLayout>
    <Button [nsRouterLink]="['dashboard']" class="login" text="Yes, It's me"></Button>
    <Button (onTap)="switch('login')" class="switch" text="Switch account"></Button>
    <Label (onTap)="switch('signup')" textAlignment="center" text="Do not have an account? Sign up" class="signup-txt"></Label>
  </StackLayout>
</FlexboxLayout>

